.elongated #Field1 {
    width: 200px;
    size: 14;
}

.elongated .field.text.fn {
    size: 14;
}

.elongated span input#Field1  {
    size: 14;
}

.wufoo input .text {
    size: 16;
    maxlength:60;
}